body, button, svg, div, p, figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

body {
  margin-top: 2.5rem;
  margin: 0 auto;
  
}

body a {
  text-decoration: none;
  
}

.flex-center {
  display: flex;
  align-items: center;
}
.start {
  width: 33.3%;
}

.navbar {
  background-color: #ffffff;
  height: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e2e2e2;
  font-family: helvetica,arial,sans-serif;
}

.navbar svg:not(.logo) {
  width: 1.5em;
  height: 1.5em;
}

.logo {
  height: 66.49%;
}

.navbar  button {
background: none;
border: none;
padding:0 1rem;
}

.navbar .space-cosmos {
  font-size: 0.9em;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.center {
  width: 33.3%;
}

.center h2 {
  font-size: 1.2rem;
  color: #4c4c4c;;
}


.end {
  width: 33.3%;
}

.end button {
  border: 1px solid #326891;
  background-color: #567b95;
  color: white;
  border-radius: 3px;
  padding: 0.86em 1em;
  margin: 0 0.2rem;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  cursor: pointer;
}

.end button:hover {
  border: 1px solid #326891;
  background-color: #326891;
}

main {
  margin-top: 2em;
  padding-top: 3em;
  margin: 0 auto;
  width: 80%;
}

main img {
  width: 100%;
}

.intro, .paragraphs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.intro p, .paragraphs p {
  margin-bottom: 1.5rem;
}

.heading {
  font-style: italic;
  font-family: georgia,'times new roman',times,serif;
  max-width: 665px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 3rem;
  margin: 0 0 1em 3em;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: inline-flex;
}

ul li {
  display: inline-block;
  margin-right: 0.5em;
}

 li svg {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
}

li svg:hover {
  background-color: #fff;
}

.heading-content figcaption{
  font-family: georgia,'times new roman',times,serif;
  font-size: 0.9375rem;
  color: #666;
  width: 79.8%;

} 

figcaption > span {
 font-size: 0.8135rem;
 color: #888;
}

main h2 {
  font-size: 1.05rem;
  margin: 3rem 0 1.5rem 0;
}

p {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: georgia,'times new roman',times,serif;
}

.img-bg { 
  width: 100%;
  max-width: 945px;
  margin: 0 auto
}

.img-bg h2 {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: georgia,times,serif;
}
.img-bg figcaption{
  color: #666;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family:georgia,times,serif;
  font-size: 14px;

 
}

figure {
  position: relative;
}

.toi-bg {
  /* background-image: url('../img/inflation-945.png'); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
}

.toi-bg img {
  align-self: flex-start;
}

.toi-bg p {
  font-family:arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #333;
  font-weight: 100;
}

.toi-bg p strong {
  font-size: 11px;
  font-weight: 900;
}

.toi-bg .second-row {
  grid-row: 4;
}

.toi-bg .first-row {
  grid-row: 2;

}

.fig-caption{
  display: inline-block;
  margin: 3rem 0;
  font-size: 0.8rem; 
  
}

.fig-caption > span {
  border-top: 1px solid black;
  padding-top: 1rem;
}

.space{
  padding: 1em;
}

